body{
    background-color: #FFFFFF;
}
.app{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: brown;
    font-size: 28px;
}

#btns-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#dog{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#FAFAD2;
    color: brown; 
}

#cat{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#FAFAD2;
    color: brown; 
}

#random-pet{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#FAFAD2;
    color: brown; 
}

#img-container{
    display: flex;
    justify-content: center;
    padding: 5px; 
    border-radius: 5px;

}

#pet-img{
    border-radius: 5px;
    box-shadow: 3px 3px 12px rgb(192,192,192); 
    width: 200px;
    padding: 10px;
}